![title](header1.png "Header")
<h3 align="center">Use 1.6-million-tweet dataset to train a classifier model that can help customers know the evaluations on Twitter platform about a product</h3> 
___

# Content
### 1. [Data set insights](#01)
* Data set
* [Data cleaning (round 1)](#1.2)
* [TextBlob for data evaluation](#1.3)
* [WordCloud for tweet word frequency](#1.4)

### 2. Model training
* Word embedding and vectorizing
* RNN modeling
* ML modeling: TF-IDF & Random Forest
* Modeling evaluations and saving

### 3. Model improvement
* Encoding new target
* Cleaning

### 4. Model applying
* [Tweet retrieval simulation using tweepy](#4.1)
* [Tweet text processing](#4.2)
* Sentiment analysis using the model
### 5. Web deployment

# Tweet retrieval using Tweepy

#### Aim
Simulate a request from an user to search for perceptions of a product in Twitter.

#### Description
* set up variables for Twitter API
* use api.search to obtain tweets with specific queries and filters
* convert tweet's contents to a data frame
* preprocess the content to extract information and reduce noises
* save as a csv file

In [1]:
# Variables for Twitter API
ACCESS_TOKEN = '917808967274741762-r8YbHiXfNrUXJXn1dubUchtWrOZ2DMk'
ACCESS_TOKEN_SECRET = 'jWo0gkDV5VGzaBkDeAkYc1e3dzf4D7N5IpuV6QdjR9x5E'
CONSUMER_API_KEY = 'QaEAZ16UhHcc33CiZ6y8b672n'
CONSUMER_API_SECRET = 'EIwXgXYGFBYZbMqTt22byRnQiQuUfWKqxbM03KKCiCTXiE8tVA'

In [2]:
# Import requred libraries
import tweepy as tw
import pandas as pd
import numpy as np
pd.set_option('max_colwidth',150)

### Get Tweets

In [3]:
# Create and authentication object
auth = tw.OAuthHandler(CONSUMER_API_KEY, CONSUMER_API_SECRET)

# Setting your access token and secret
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)

# Create the API object passing the auth object
api = tw.API(auth)

### Using cursor object

In [26]:
# Search for upto 100 most recent tweets about "Lambton College", parse to a Cursor obj
# We here do not want to include retweets
# search_words='LambtonCollege OR (Cestar College) OR (Lambton College)'
search_words = 'toronto university'
tweet_search = search_words + ' -filter:retweets AND filter:replies'
tweets = tw.Cursor(api.search, q=tweet_search, count=10, lang='en').items(100)

### Iterate the retrieved tweet records and save to a data frame

In [27]:
# Store tweets in a list
tweet_component = []
for tweet in tweets:
    print(f'{tweet.user.name} said: {tweet.text}')
    tweet_component.append([tweet.user.id, tweet.created_at,
                       tweet.user.screen_name, tweet.user.location, tweet.text.encode('utf-8')])

asmi said: @Sonnipun ight
1. university of toronto
2. university of british columbia
3. university college london
4. universi‚Ä¶ https://t.co/K6jBimYJi6
Brian Dixon said: @verslibre Cust: "I am currently a PhD student in the philosophy department at York University in Toronto.
My areas‚Ä¶ https://t.co/O4v8HoJOfi
Hannah - aka crip cinnamon lid ‚ôøÔ∏è said: Citation: Maureen K. Lux, _Separate Beds: A History of Indian Hospitals in Canada, 1920s-1980s_, (Toronto: Universi‚Ä¶ https://t.co/lJuxJ4goVC
üèô üçÅ üá®üá¶ said: @krismeloche @CarymaRules @fordnation Then let Laurentian U collapse.
Cancelled a number of planned campuses.
Cance‚Ä¶ https://t.co/OfeNXo50jr
Derek Estabrook said: @MegMcMorris On the + side, he‚Äôs a young, bright engineer and a process improvement expert. He started a new role l‚Ä¶ https://t.co/RlkZY1qksQ
Peoples Party of Canada North Okanagan Shuswap said: @SpencerFernando We need to expose the University of Toronto @wef paid off shills in their epidemiology department.‚Ä¶ https://t.co/lne4reIRBV
Travis P said: @DrKaliBarrett is a Critical Care Physician with the University Health Network in Toronto. She is a member of the S‚Ä¶ https://t.co/do3d1xTWvR
Martha Lucia Garcia said: @SabiVM @UofT_dlsph @AmitAryaMD @NaheedD @DFisman @bernardcampagna @picardonhealth @Andre_Lariviere @WHO‚Ä¶ https://t.co/gov7gyRsBa
Martha Lucia Garcia said: @RobynUrback Ford‚Äôs advisers are not physicians not epidemiologists, not very strong academically. Aldasteinn Brown‚Ä¶ https://t.co/swpvs4bmYn
Martha Lucia Garcia said: @UofT_dlsph The University of Toronto‚Äôs School of Public Health was ranked # 4 in the world, under Dr. Howard Hu. A‚Ä¶ https://t.co/fgI6DtAqnz
Martha Lucia Garcia said: @DorisGrinspun @fordnation @ColinDMello @CBCTheNational @CBCQueensPark @CBCLorenda @CP24 @bruce_arthur‚Ä¶ https://t.co/cV34Fbuaz9
Martha Lucia Garcia said: @This__is__Matt @rubiconcapital_ Ford‚Äôs advisers are not physicians not epidemiologists, not very strong academical‚Ä¶ https://t.co/SlB4Kk2aRN
conniepeixoto said: @SomiaGrooves I still have to go to work but I have a letter  from the president of University of Toronto.. they sh‚Ä¶ https://t.co/gQ1q9rvhQd
Caribbean Philosophical Association said: Assistant Professor - Indigenous Politics, University of Toronto Scarborough https://t.co/2jdaSbDVsi
julia said: @blondedktm yeah.... im also supposed to be moving to toronto for university which is the worst place to be due to‚Ä¶ https://t.co/n5Sq2wn4Aj
Crazy Canucküò∑ #NoToRacism üåé #YesToSocialEquality said: @BernieSanders @BrendaFB A great Canadian discovery Frederick Banting and Charles Best discovered insulin under the‚Ä¶ https://t.co/UVm14cNVS1
Pat Quinn Hughes said: @HugenPhil @MichelleRempel @reutersLjungg University of Toronto prof. Your fragility is embarrassing. You feel thre‚Ä¶ https://t.co/oN3YvJ72Zf
Chris Johnson said: @BryonyDuPont @TuftsUniversity One of the most interesting technologies we worked on was Cold Water Air Conditionin‚Ä¶ https://t.co/yibbpuuJaY
Nancy Travis said: @MichaelSkyer Check Dr. Jo DeLuzio and her work (affiliated with University of Toronto)?
Tanya Perdigao said: @BernieSanders Yes!!

In January 1922, at the University of Toronto and Toronto General Hospital.

Whatever the co‚Ä¶ https://t.co/9qjIzX2MDB
Martha Lucia Garcia said: @PetSchrodinger @LaurenPelley @UofT_dlsph @OntarioHealthOH @DrEricHoskins @KevinSmithUHN @UofT The University of To‚Ä¶ https://t.co/gyyZs9ptFM
Martha Lucia Garcia said: @CTVNews Meanwhile The University of Toronto lost a world class vaccine expert. Time for a closer look. This is pub‚Ä¶ https://t.co/4FGfRwTsXR
That_Typewriter (typing from home) said: @DerrickPerkins_ @BernieSanders Insulin was sold for $1 to the University of Toronto back when discovered in the 19‚Ä¶ https://t.co/RW1BnxYW1x
Working towards Inclusivity in Chemistry Toronto said: Phillips Chancellor‚Äôs Faculty Fellow, Prof. Robinson was an Assistant Professor at the University of Pittsburgh. Th‚Ä¶ https://t.co/WfC9Zp7zl5
Working towards Inclusivity in Chemistry Toronto said: to acquire a Ph.D. in analytical chemistry under the supervision of Prof. David E. Clemmer at Indiana University, t‚Ä¶ https://t.co/pS9FWLYZaF
Working towards Inclusivity in Chemistry Toronto said: aging, Alzheimer's disease, and sepsis. One aspect of her group's research is investigating the intersection of hea‚Ä¶ https://t.co/QntxJgkacA
Billy Packer üåµ said: @spirit_llama @TheFutureLover For the sake of argument, I'm going to assume that you did. Biodiversity based on blo‚Ä¶ https://t.co/3JGxKSrcX2
Martha Lucia Garcia said: @WalkinRobinL @l_stone @SylviaJonesMPP @fordnation Ford‚Äôs advisers are not physicians not epidemiologists, not very‚Ä¶ https://t.co/LycmfHNKwR
Martha Lucia Garcia said: @lindahaslett @l_stone @SylviaJonesMPP Ford‚Äôs advisers are not physicians not epidemiologists, not very strong acad‚Ä¶ https://t.co/EXmzlktFLn
Nicolas Bergeronüá®üá¶ said: @kristynwongtam @UnityHealthTO I believe a new vaccine clinic will also open at Ryerson University as it showed on‚Ä¶ https://t.co/9v5FrnyS1i
Nicolas Bergeronüá®üá¶ said: @VaxHuntersCan Ryerson has been added as a vaccine location clinic -&gt; Ryerson University ‚Äì 288 Church St, Toronto O‚Ä¶ https://t.co/O1ngqFjSOT
Jan Walker said: @WaytowichNeil üëèüëèüëèüëèüëèüëèüåπ Credibility of
Adalsteinn (Steini) Brown, dean of the Dalla Lana School of Public Health at‚Ä¶ https://t.co/TDfnHSuvzv
Fernando Adali Roman Jr said: @tribemagazine @JohnTory Absolutely @tribemagazine :)
https://t.co/OU0YSRM4rz

Being helped by Ryerson University: https://t.co/rll4bYjTQH
Martha Lucia Garcia said: @BarbBhowe2 @birgitomo @fraser_brad @ONgov @fordnation Ford‚Äôs advisers are not physicians not epidemiologists, not‚Ä¶ https://t.co/64XkdbNkg8
‚ÄúHammer‚Äù said: @kahnkidz ‚ÄúIt‚Äôs going to get worse before it gets better,‚Äù said Colin Furness at the University of Toronto.‚Äù We can‚Ä¶ https://t.co/6ssXdpPLu4
Michael Denney said: @AlexVorkov @Barry_Cinematic In the Toronto area, they are starting to accept all ages. Unfortunately my daughter i‚Ä¶ https://t.co/5e5zmeBnHz
Honor Brabazon said: Adding University of Toronto Mississauga Department of Historical Studies and @YUFAyorku to the list of endorsers!
Scriven said: @seraphina416 @unchartedfocus @Ms_Anchovy @gator_gum @teena_kowitz @Mari19821 @MsKrispanis @OriginalGoove‚Ä¶ https://t.co/nNOsII6YKC
Martha Lucia Garcia said: @PHealthGnome Ford‚Äôs advisers are not physicians not epidemiologists, not very strong academically. Aldasteinn Brow‚Ä¶ https://t.co/xEba8wy6IM
Jonathon Booth said: @JakeAnbinder Should have taken a page from University of Toronto and started like Yale Hartford
Roger Marple said: @rb33canada @_DiabetesAction The discovery of insulin occurred in 1921 following the ideas of a Canadian orthopedic‚Ä¶ https://t.co/Ysqy1XnkBB
Jonathon Booth said: @mishachellam @Harvard @Stanford A good comparison point is to look at how much Oxford, Cambridge, and University o‚Ä¶ https://t.co/W1NVEoBSOw
Sommer üí´ Ashley Kerwin deserved better said: @highlingsworth Lucy did not know (unless I‚Äôm forgetting something big lol) but her and Caitlin were gonna room tog‚Ä¶ https://t.co/jpYYFUTQoe
Patrick Kaipainen said: This is an old elevator machine room at the University of Toronto.  This collection of relays is used to control th‚Ä¶ https://t.co/7pf0A0xLak
bknh said: @robferguson1 Yet University of Toronto asks us to return to in person class in Sep lol
Lela M said: @PamelaApostolo1 So proud of Sir Frederick Banting, he wanted all humanity to benefit and sold the patent to the Un‚Ä¶ https://t.co/4ziGqY9ZhQ
Chigozie Okoroji said: @Interstate1b @3too16 @HoopsAtl @Janey76074439 @MrHolder818951 @19Phranchize @drwarrenfarrell @jordanbpeterson Myse‚Ä¶ https://t.co/yToHIwmp0W
Allyson Tabaczynski said: @DrMichaelMead @SbmStudents Hi #SBM2021 I'm a PhD candidate from University of Torontoüá®üá¶ I am interested in the use‚Ä¶ https://t.co/Qz1PB5o2cq
The Hoser said: Co-founder @KevinTaghabon wrote a labour story about the tentative agreement reached by Academic Workers with‚Ä¶ https://t.co/ek3Om2seB5
Oumar said: @Dalilk4ielts Toronto university, law school
Fulford Academy said: üìåUniversity of Toronto (St. George)
üìåWaterloo University
üìåWestern University
üìåYork University
Fulford Academy said: üìå Acadia University
üìåBrock University
üìåCarleton University
üìåGuelph University
üìåMcMaster University
üìåOCAD
üìåOttawa Un‚Ä¶ https://t.co/OfSHS5Ku0H
Evan said: @dima_nomad My dad went to the University of Tennessee when he first came to North America.

Knoxville suburbs are‚Ä¶ https://t.co/ulgJY1WZ2Z
Christopher J. Rutty said: @UofTNews @canadapostcorp @_DiabetesAction @BBDC_UofT @UofT_DoM The vial of "Insulin Toronto" featured on the new s‚Ä¶ https://t.co/GeiEbXMhZp
Lori Porcaro Noseworthy üá®üá¶ said: @jaketapper My husband &amp; I received our Pfizer vaccine at the University of Toronto campus in Mississauga yesterday‚Ä¶ https://t.co/KeIh7diB7J

Fulford Academy said: üìåUniversity of Toronto (Scarborough)
üìåUniversity of Toronto (St. George)
üìåUniversity of Winnipeg
üìåWaterloo Universi‚Ä¶ https://t.co/IlkULUu9Pu
Fulford Academy said: üìåMasaryk Medical University (Czech Republic)
üìåMcMaster University
üìåOCAD
üìåOttawa University
üìåQueen's University
üìåShe‚Ä¶ https://t.co/1sAtVo74qt
Christopher J. Rutty said: @uoftmedicine @SHeximer @canadapostcorp @BantingHouse The vial of "Insulin Toronto" featured on the new stamp was p‚Ä¶ https://t.co/imbADqLglO
Gary Wagman said: @EricaBrecher My late Uncle Dr Murray Wagman and his family lived in Metuchen New Jersey from 1946 to his death in‚Ä¶ https://t.co/zMjAdyIb3c
Social Planning Council of Ottawa said: _

Rachel Bromberg is the Co-Founder of the @reachout_to, the Executive Director of the International Mobile Servic‚Ä¶ https://t.co/tuFSe3xDrQ
P Rowson said: @thatginamiller The example set by Banting, Collip &amp; Best is exemplary, ‚ÄúOn Jan. 23, 1923, Banting, Collip and Best‚Ä¶ https://t.co/JjjJa9Urzb
University of Northern British Columbia (UNBC) said: Dr. Jackson holds a Bachelor of Science and a PhD from the University of British Columbia's Geography Department. I‚Ä¶ https://t.co/o5eQrBVKYO
Phillip M Bell said: @CharlieAngusNDP @LaurentianU Should cancel the failing new French-language university in Toronto and move it to LU‚Ä¶ https://t.co/reNeFX2SCp
Sparco41 said: @CoyneoftheRealm I see that Robert Whitaker also is still on Harvard‚Äôs payroll. Not rhetorical questions: Why do un‚Ä¶ https://t.co/NdvSRgWQlQ
Lagos Studies Association said: Ifekwe (University of Uyo)
Teaching Postcolonial Kampala: Recognizing Trauma by Piia Mustamaki (New York University‚Ä¶ https://t.co/6qaEBy09EB
Bloor St. Culture said: -and the University of Toronto continues its celebration of the discovery of insulin - Visit the @Fisher_Library Ra‚Ä¶ https://t.co/se7J7KsjBZ
Patricia Ann said: @sk_d97 Which is too bad considering inventors Banting and Best sold it to the university of Toronto for $1, saying‚Ä¶ https://t.co/cAXWQ3QouI
Hanne Emilie said: @PerthshireMags unfortunate news for the university of toronto

(congrats)
Jeff Mamer said: @NHLBlackhawks My dad and I ( both lifelong fans back to Stan Makita) drove down from Toronto to see the last 2 reg‚Ä¶ https://t.co/Xayr3s4FNv
Babs‚Å∑ ‚ô° üåôüé´ said: @seokjinsso Nice :)
What do you wanna study? Have you checked MCgill university or Toronto university?
iFEED_Catering said: @_Elagabulus @WBurner2000 @Discover11284 @PinkWug One more for you. This is an excerpt from https://t.co/iQzkfDSMYY‚Ä¶ https://t.co/Wxct0GgdMp
India Wants To Know - Panel Quiz Show said: University of Toronto, gave away the license to produce insulin to pharma companies, without any royalties.

This‚Ä¶ https://t.co/GiyohyLdTA
India Wants To Know - Panel Quiz Show said: He found a backer in J.J.R. Macleod, Professor of Physiology at the University of Toronto.

Banting was joined by‚Ä¶ https://t.co/ZZPaQubZs6
Ian Stewart üá®üá¶ said: @CP24 WTF. Sick of this PC bullshit. It will always be known as the Master Bedroom as far as I‚Äôm concerned. Whats n‚Ä¶ https://t.co/m1GZ0L2r4F
ELAISHA JADE said: @danicaSnelson @EVYSTADIUM In Toronto finding a vaccine is like getting on the university line at 8:45a, getting on‚Ä¶ https://t.co/5XBWGAVrwO
Yacoub ÿßŸÑÿÆÿ∂ÿ± Al-Khder said: @AProfLaurenBall @abusulayman @AcademicChatter @UWaterloo @Celia_Laur University of Toronto UFT has something simil‚Ä¶ https://t.co/QeWvajhe4X
MxL Devs said: @logosaetos @billie424 @xone70x @TorontoStar @nkeung Could range from as low as 10k to as high as 60k depending on‚Ä¶ https://t.co/x6e68gQ2t7
MxL Devs said: @xone70x @logosaetos @TorontoStar @nkeung A 4-year undergraduate program at University of Toronto costs over $20000‚Ä¶ https://t.co/dMeLuyEort
Âì•Âì• said: @daeyeolluvr69 It says he went to the university of toronto
Top Notch Reporter said: @Raptors With the 14th pick in the 2021 NBA Draft, the Toronto Raptors select Corey Kispert from Gonzaga University https://t.co/dmKv1bp44Q
Martha Lucia Garcia said: @CityCynthia Ford‚Äôs advisers are not physicians not epidemiologists, not very strong academically. Aldasteinn Brown‚Ä¶ https://t.co/92RsbIqi1I
Its Me said: @TravelGoC Talk about poor taste.  University students studying in states (or lose their scholarships) and vaccinat‚Ä¶ https://t.co/RzjrMz37Og
Jason Gorber said: @colingeddes What, that he and Reitman founded the Toronto Film Co-op  that ended up becoming LIFT? Or that he stud‚Ä¶ https://t.co/iyZ076cQ6D
seasonal affective defund the police said: @sarahgdear sadly not. i registered through university health network in toronto because i have an eligible conditi‚Ä¶ https://t.co/vhL8kOizWG
Joe Murgia said: 3 "director of the University of Toronto‚Äôs International Relations Program and a historian whose research focuses o‚Ä¶ https://t.co/ePeGkENdXn
John Siculli said: @delmastrodean This is absolutely gross and reprehensible behaviour and should be disciplined,‚Äù wrote Christopher P‚Ä¶ https://t.co/4y2bFJqIzh
Martha Lucia Garcia said: @JeanmarcBenoit @DanyaalRaza @AndreaWoo @cpso_ca @ONgov @OntarioHealthOH @patientombuds The University of Toronto‚Äôs‚Ä¶ https://t.co/yBVzF081Md
Martha Lucia Garcia said: @JeanmarcBenoit @DanyaalRaza @AndreaWoo @cpso_ca Ford‚Äôs advisers are not physicians not epidemiologists, not very s‚Ä¶ https://t.co/ycuujZkEFY
Kyle said: This is the peer-reviewed publication demonstrating which policies are the most effective. It is from the Universit‚Ä¶ https://t.co/mZl71XxSVl
Kevin Taghabon said: So, you want critical labour reporting back in Toronto? You can get it! Check out our first labour story here.

https://t.co/rfYq2DqkuU
Samuel Miller said: unvaccinated,‚Äù said Eleanor Fish, professor of immunology at the University of Toronto and emerita scientist at the‚Ä¶ https://t.co/k8Kl0zowl3
Eleanor Rose Dirt Apple said: @Ivimey Does it taste like the University of Toronto varsity team?
Factor-Inwentash Faculty of Social Work said: Read the full report of the University of Toronto Anti-Black Racism Task Force here: https://t.co/Fb3SIvwKLJ
A.C.DŒûLLUXŒû said: @digitalartchick Lauren Vaile @laurenvaile Lauren  is a Toronto-based  sommelier, wine industry professional,  and‚Ä¶ https://t.co/qWtNnq3V1f
Cristina said: @Babylon_Beaver @VeraEtches @COVIDSciOntario 75% of the Ontario #ScienceTable is directly linked to the University‚Ä¶ https://t.co/vSN35DH1bg
Carl Rollyson said: @BrettButler1111 I‚Äôm a University of Toronto graduate.  Does that count?
jungle.java said: According to the Toronto Star, at least some of the study‚Äôs data eventually found its way to an economist at Texas A&amp;M University.
Fergie said: @PerthshireMags @ChrisFalconer16 @The_Mighty_S @Ochmabobe University of Toronto. I love Canada but this is Scottish‚Ä¶ https://t.co/d3UFHfyeuL
Female Organic Chemists said: Dr. Dong began her academic career at University of Toronto, where she worked on heterocycles for medicinal chemist‚Ä¶ https://t.co/F97jwjbcYY
University of Northern British Columbia (UNBC) said: He holds a BA in History &amp; Religious Studies from the University of Lethbridge; a MLitt in Mediaeval History from t‚Ä¶ https://t.co/4irl3GoCyS

In [28]:
# Convert to DataFrame that contains information including username, location.
df_tweet = pd.DataFrame(tweet_component, columns=['ID', 'Time', 'User name', 'Location', 'Text'])
df_tweet.head(9)

,ID,Time,User name,Location,Text
0,1040519558442868738,2021-04-17 07:02:40,thatasmi,"Indore, India",b'@Sonnipun ight \n1. university of toronto\n2. university of british columbia\n3. university college london\n4. universi\xe2\x80\xa6 https://t.co...
1,25270260,2021-04-17 03:57:51,BrianBoruNZ,"Dunedin, New Zealand","b'@verslibre Cust: ""I am currently a PhD student in the philosophy department at York University in Toronto.\nMy areas\xe2\x80\xa6 https://t.co/O4..."
2,2407031720,2021-04-17 03:13:45,HannahntheWolf,Occupied Musqueam Territory,"b'Citation: Maureen K. Lux, _Separate Beds: A History of Indian Hospitals in Canada, 1920s-1980s_, (Toronto: Universi\xe2\x80\xa6 https://t.co/lJu..."
3,991132349663412224,2021-04-17 02:56:13,theKeenUrbanist,"Toronto, Ontario, Canada",b'@krismeloche @CarymaRules @fordnation Then let Laurentian U collapse.\nCancelled a number of planned campuses.\nCance\xe2\x80\xa6 https://t.co/O...
4,402370541,2021-04-17 02:27:52,estabde,Halifax,"b'@MegMcMorris On the + side, he\xe2\x80\x99s a young, bright engineer and a process improvement expert. He started a new role l\xe2\x80\xa6 https..."
5,1080573064503410688,2021-04-17 00:42:01,ppcnos,"Vernon, British Columbia",b'@SpencerFernando We need to expose the University of Toronto @wef paid off shills in their epidemiology department.\xe2\x80\xa6 https://t.co/lne...
6,264385227,2021-04-16 23:55:14,TravPederson,Winnipeg,b'@DrKaliBarrett is a Critical Care Physician with the University Health Network in Toronto. She is a member of the S\xe2\x80\xa6 https://t.co/do3...
7,386007819,2021-04-16 22:30:35,MLGG2,Canada,b'@SabiVM @UofT_dlsph @AmitAryaMD @NaheedD @DFisman @bernardcampagna @picardonhealth @Andre_Lariviere @WHO\xe2\x80\xa6 https://t.co/gov7gyRsBa'
8,386007819,2021-04-16 21:41:50,MLGG2,Canada,"b'@RobynUrback Ford\xe2\x80\x99s advisers are not physicians not epidemiologists, not very strong academically. Aldasteinn Brown\xe2\x80\xa6 https..."

In [29]:
df_tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         100 non-null    int64
 1   Time       100 non-null    datetime64[ns]
 2   User name  100 non-null    object
 3   Location   100 non-null    object
 4   Text       100 non-null    object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 4.0+ KB

### Tweet cleaning

In [30]:
import nltk
from nltk.corpus import stopwords
import re
import string

In [31]:
### Use the same text pre-processing procedure as one in tweet sentiment analysis
def data_cleaner(tweet):
    # lower text
    tweet = tweet.lower()
    
    # remove urls
    tweet = re.sub(r'http\S+', ' ', str(tweet))
    
    # remove html tags
    tweet = re.sub(r'<.*?>',' ', tweet)
    
    # remove tweets containing digits
    tweet = re.sub('\w*\d\w*', ' ', tweet)
    
    # remove hashtags
    tweet = re.sub(r'#\w+',' ', tweet)
    
    # remove mentions
    tweet = re.sub(r'@\w+',' ', tweet)
    
    # remove anything not a letter
    tweet = re.sub(r'\W+', ' ', tweet)
    
    tweet = tweet.strip()
    
    #removing words with length less than 2 or in stop words
    tweet = tweet.split()
    tweet = [w for w in tweet if len(w)>1]
    tweet = " ".join([word for word in tweet if not word in stop_words])
    
     
    return tweet


stop_words = stopwords.words('english')

df_tweet['cleaned_tweet'] = df_tweet['Text'].apply(data_cleaner)

# Drop nan in cleaned_tweet column
df_tweet.replace('', np.nan, inplace=True)
df_tweet = df_tweet.dropna(subset=['cleaned_tweet'])

df_tweet = df_tweet[['User name', 'Time', 'Location', 'cleaned_tweet']]
df_tweet.head(3)

,User name,Time,Location,cleaned_tweet
0,thatasmi,2021-04-17 07:02:40,"Indore, India",ight university toronto university british columbia university college london universi
1,BrianBoruNZ,2021-04-17 03:57:51,"Dunedin, New Zealand",cust currently phd student philosophy department york university toronto nmy areas
2,HannahntheWolf,2021-04-17 03:13:45,Occupied Musqueam Territory,citation maureen lux _separate beds history indian hospitals canada toronto universi

In [15]:
# Save to a csv file
df_tweet.to_csv('retrieved_tweet.csv', index=False, encoding='utf-8')

In [32]:
df_tweet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 0 to 99
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   User name      97 non-null     object
 1   Time           97 non-null     datetime64[ns]
 2   Location       73 non-null     object
 3   cleaned_tweet  97 non-null     object
dtypes: datetime64[ns](1), object(3)
memory usage: 3.8+ KB

## Model application

In [16]:
import joblib
import numpy as np

### Load the tf-idf rf model

In [17]:
# Load pipeline and apply for retrieved tweet
model = joblib.load('tfidf_rf_pipeline.sav')

In [18]:
df_tweet = pd.read_csv('retrieved_tweet.csv')
df_tweet.cleaned_tweet

0                                                toyota lexus good size even convertible
1                                   saying toyota makes lexus hyundai makes genesis true
2                       japanese government crafted economy decades around kind generati
3                            upgraded nissan cefiro nissan maxima tv series toyota lexus
4                                                  meet peter worked habanero consulting
                                             ...
93                two toyota house hold luxury brand extremely disappointing stop giving
94                      say cars money maybe talk saloon go understand specifically said
95    dey craze like toyota cars dey drive lexus tundra cause na mistubushi dey make dem
96                      hello thank message yes course could interested brand company se
97                          circa toyota lexus beat reliability sats saved acquiring one
Name: cleaned_tweet, Length: 98, dtype: object

In [21]:
df_tweet['labels'] = df_tweet['cleaned_tweet'].apply(lambda x: model.predict([x])[0])

In [22]:
df_tweet

,User name,Time,Location,cleaned_tweet,labels
0,kimberlydark,2021-04-17 06:28:47,at large,toyota lexus good size even convertible,1
1,jortle,2021-04-17 03:29:18,"Houston, TX",saying toyota makes lexus hyundai makes genesis true,1
2,ArthurWilliam52,2021-04-17 02:52:43,East Mids,japanese government crafted economy decades around kind generati,1
3,murdock_tm,2021-04-17 02:38:53,USA,upgraded nissan cefiro nissan maxima tv series toyota lexus,0
4,camcavers,2021-04-17 01:12:52,"Vancouver, BC",meet peter worked habanero consulting,0
...,...,...,...,...,...
93,abigailm1971,2021-04-14 11:56:49,"Orlando, FL",two toyota house hold luxury brand extremely disappointing stop giving,0
94,TheycallmeAGU_,2021-04-14 11:47:14,NaN,say cars money maybe talk saloon go understand specifically said,0
95,xomtochukwu,2021-04-14 11:37:12,"Lagos de Moreno, Jalisco",dey craze like toyota cars dey drive lexus tundra cause na mistubushi dey make dem,0
96,anthoriv,2021-04-14 09:36:20,La R√©union,hello thank message yes course could interested brand company se,1
97,Jose_S_bam,2021-04-14 09:25:41,NaN,circa toyota lexus beat reliability sats saved acquiring one,0

In [23]:
def sentiment(df):
    if df['labels'].value_counts()[1]/len(df) >= 0.8:
        return 'Highly recommend!'
    elif (df['labels'].value_counts()[1]/len(df) >= 0.6) & (df['labels'].value_counts()[1]/len(df) < 0.8):
        return 'Recommend!'
    elif (df['labels'].value_counts()[1]/len(df) >= 0.4) & (df['labels'].value_counts()[1]/len(df) < 0.6):
        return 'Normal Quality.'
    else: return 'Not recommend!'

a = sentiment(df_tweet)
print(a)

Not recommend!

In [33]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Initialize sentiment intensity analyzer
sia = SentimentIntensityAnalyzer()
# Obtaining NLTK scores
# can_mar_cleaned['nltk_scores'] = can_mar_cleaned['cleaned_r1'].apply(lambda x: sia.polarity_scores(x)['compound'])
df_tweet['vader'] = df_tweet['cleaned_tweet'].apply(lambda x: sia.polarity_scores(x)['compound'])
df_tweet.head()

,User name,Time,Location,cleaned_tweet,vader
0,thatasmi,2021-04-17 07:02:40,"Indore, India",ight university toronto university british columbia university college london universi,0.0000
1,BrianBoruNZ,2021-04-17 03:57:51,"Dunedin, New Zealand",cust currently phd student philosophy department york university toronto nmy areas,0.0000
2,HannahntheWolf,2021-04-17 03:13:45,Occupied Musqueam Territory,citation maureen lux _separate beds history indian hospitals canada toronto universi,0.0000
3,theKeenUrbanist,2021-04-17 02:56:13,"Toronto, Ontario, Canada",let laurentian collapse ncancelled number planned campuses ncance,-0.4404
4,estabde,2021-04-17 02:27:52,Halifax,side young bright engineer process improvement expert started new role,0.7096

In [34]:
np.mean(df_tweet['vader'].values)

0.046994845360824745

In [35]:
df_tweet

,User name,Time,Location,cleaned_tweet,vader
0,thatasmi,2021-04-17 07:02:40,"Indore, India",ight university toronto university british columbia university college london universi,0.0000
1,BrianBoruNZ,2021-04-17 03:57:51,"Dunedin, New Zealand",cust currently phd student philosophy department york university toronto nmy areas,0.0000
2,HannahntheWolf,2021-04-17 03:13:45,Occupied Musqueam Territory,citation maureen lux _separate beds history indian hospitals canada toronto universi,0.0000
3,theKeenUrbanist,2021-04-17 02:56:13,"Toronto, Ontario, Canada",let laurentian collapse ncancelled number planned campuses ncance,-0.4404
4,estabde,2021-04-17 02:27:52,Halifax,side young bright engineer process improvement expert started new role,0.7096
...,...,...,...,...,...
95,crollyson,2021-04-14 19:47:17,NaN,university toronto graduate count,0.0000
96,junglejava1,2021-04-14 19:41:48,Canada,according toronto star least study data eventually found way economist texas amp university,0.0000
97,Fergie_Kate,2021-04-14 19:39:51,"Glasgow, Glasgow City G31",university toronto love canada scottish,0.6369
98,FemOrgChem,2021-04-14 19:18:09,NaN,dr dong began academic career university toronto worked heterocycles medicinal chemist,0.0000
99,UNBC,2021-04-14 18:40:26,Northern British Columbia,holds ba history amp religious studies university lethbridge mlitt mediaeval history,0.0000